# Ignorar archivos de entorno
.env
key_ssh/
*.log
ignore.sh

# Ignorar logs del backend
backend/logs/
backend/.ignore

# Ignorar node_modules
node_modules/

# Ignorar logs y node_modules de yourPlaceSafed
yourPlaceSafed/logs/
yourPlaceSafed/node_modules/
yourPlaceSafed/package-lock.json